*{
  margin: 0;
  padding: 0;
}
body {
  font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
}
.title {
  text-align: center;
  background: #727f80;
  color: #fff;
  height: 100px;
  line-height: 100px;
}
.info {
  text-align: center;
  font-size: 16px;
  height: 70px;
  line-height: 70px;
  background: #f6f6f6;
}
.container {
  width: 980px;
  margin: 0 auto;
  padding: 20px 0;
}
code {
  background: #727f80;
  color: #fff;
  padding: 2px 8px;
  border-radius: 5px;
  margin: 0 3px;
}
.inputText {
    width: 958px;
    border-radius: 3px;
    border: #aaa 1px solid;
    vertical-align: 2px;
    font-size: 16px;
    padding: 10px;
    line-height: 1.3;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
    resize: none;
}
.btn {
    padding: 5px 20px;
    border: 1px solid #888;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 20px;
}
.btn:hover, .btn.active {
  color: #f6f6f6;
  background: #727f80;
}
.line {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.output {
    white-space: pre-wrap;
    word-break: break-word;
    text-align: left;
}
.tip {
  text-align: center;
  margin: 20px;
}

.box {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.box-line {
    height: 40px;
}
.box-line:hover {
  background: #eee;
}
.box-line-underline {
    border-bottom: 1px solid #666;
}
.box-line-underline-2 {
    border-bottom: 1px solid #ccc;
}
.box-line-underline-3 {
    border-top: 1px solid #ccc;
}
.box td {
    text-align: center;   
}
.box-title {
    border-top: 2px solid #333;
    border-bottom: 1px solid #666;
    font-weight: bold;
    height: 60px;

}

.color-0 {
    color: black;
}
.color-1 {
    color: #FF3030;
    text-decoration: underline;
}
.color-2 {
    color: #EE00EE;
    text-decoration: underline;
}
.color-3 {
    color: #8B4513;
    text-decoration: underline;
}
.color-4 {
    color: #4169E1;
    text-decoration: underline;
}
.color-5 {
    color: #6B8E23;
    text-decoration: underline;
}

.letter-margin {
    margin-left: 0.5em;
}
